
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <% if (isAuthenticated) {%>
      <ul class="nav justify-content-center myClass">
        <li class="nav-item">
          <a class="nav-link active logout" aria-current="page" href="/logout">Logout</a>
        </li>
      </ul>
    <% } %>
  </div>
</div>
</body>
</html>
