<%- include("partials/header"); -%>
<h1>
    Welcome to BlogTown!
</h1>

<form action="/userhome" method="post">
    <div class="box">
        <div class="input-group input-group-sm mb-3 typeField">
            <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3 typeField">
            <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>
</form>


<%- include("partials/footer"); -%>